:root {
  --color-sasodark: #0d1137;
  --color-sasopink: #e52165;
  --color-sasogold: #ffd700;
  --color-sasopurple: #8785ef;
  --color-primary: #0d1137; // for backgrounds
  --color-accent: #e52165; // main call-to-action
  --color-warning: #ffd700; // alerts, highlights
  --color-secondary: #8785ef; // sub actions or info
  --color-text: #f0f0f0; // light text on dark1
  --color-white: #ffffff; // for text and icons
  --color-box: rgba(0, 0, 0, 0.2); // for shadows and overlays
  --color-semitransparent: rgba(0, 0, 0, 0.5); // for modals and overlays
}
