:root {
  --color-sasodark: #0d1137;
  --color-sasopink: #e52165;
  --color-sasogold: #ffd700;
  --color-sasopurple: #8785ef;
  --color-sasopinkdark: #b0006f;

  --color-primary: #0d1137;
  --color-accent: #e52165;
  --color-warning: #ffd700;
  --color-secondary: #8785ef;
  --color-text: #f0f0f0;
  --color-white: #ffffff;
  --color-box: rgba(0, 0, 0, 0.2);
  --color-semitransparent: rgba(0, 0, 0, 0.5);
}
